# Data acquisition with the Fashion MNIST Dataset

In this notebook we will be going through some methods to obtain the Fashion MNIST dataset. Just like in the previous notebook, we will be going through the process of obtaining the data that we need.


We can find the Fashion MNIST dataset in multiple ways online, but we will be going through a simple code procedure to make the process easier for us. We will be writing code to obtain the data for us. 

For further references to the data, check https://github.com/zalandoresearch/fashion-mnist.

For the script to work, make sure you have the os, wget, pandas and matplotlib library installed in your python virtual environment.

## 1.1 Import Data through pandas

In [1]:
import pandas as pd # Pandas for data manipulation
import numpy as np # numpy for data manipulation
import matplotlib.pyplot as plt # matplotlib for plotting
from sklearn.model_selection import train_test_split

Were you able to succesfully import these libraries? If not ask for some assistance, but if you did succeed it is time to cheer!!

We will now try to obtain the data for the fashion MNIST dataset. For the sake of convinience we have already placed the data in a folder called FMNIST. Try to look inside it, what do you see? Why do you see 2 files?

In [2]:
# The 2 files exist because the data has been split into training data and testing data for our convinience.

The Fashion MNIST dataset is a csv file. Now, open the dataset using the pd.read_csv() function and assign it into variables 'raw_data_train' and 'raw_data_test'. Then, print out the first 5 rows of the dataframe to see the data attribute. What do you notice?

In [2]:
raw_data_train = pd.read_csv("FMNIST/fashion-mnist_train.csv")
raw_data_test = pd.read_csv('FMNIST/fashion-mnist_test.csv')

In [3]:
raw_data_train.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Do you have any burning questions in your mind? If you do, now might be a good time to raise your hand and ask away to your instructors. 

If you are confident with the content so far, we can move on to a small task. Now use pandas to obtain basic information (Number of rows and columns, type of data, number of missing values and basic statistics) about the dataset. Use .info() and .describe() to obtain basic information about the dataset!

In [5]:
# ANSWER
print(raw_data_train.info())
print(raw_data_train.describe())

NameError: name 'df' is not defined

Now that you have completed importing the data we can move on to a simple task of finding the data types within this data frame. Can you find the unique data types within this data frame and print them out?

In [3]:
# ANSWER
raw_data_train.dtypes.unique()

array([dtype('int64')], dtype=object)

Congratulations on completing the Fashion MNIST data acquisition notebook. If you have finished early take some time to play around with the dataset and learn more about it. 

1. Are there other ways we can import data such as image data, if so how?
2. Our images in the Fahsion MNIST dataset are grayscale. How would the dataframes change if the dataset were comprised of color images?